.Weather {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    padding-top: 2%;
}

.Weather i {
    font-size: 6em;
}

.Weather p {
    font-size: 2em;
}

.left {
    float: left;
    margin-left: 25%;
}

.right {
    float: right;
    margin-right: 25%;
}

@media screen and (max-width: 600px) {
    .Weather {
        padding-top: 5%;
    }

    .left, .right {
        float: none;
        margin: 0px;
    }
}
